{% extends 'base.html.twig' %}
{% block title %}Edit Application page!{% endblock %}
{% block body %}
    <h1>Edit Page </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a class="btn btn-info" href="{{ path('application') }}">back</a>
{% endblock %}
